{% extends 'base_compact.html' %}

{% block main_heading %}
<h1 class="title">Reset Password</h1>
{% endblock %}

{% block main_content %}
<main class="user">
    <section class="user_form">
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            {{ form.password.label }}
            {{ form.password() }}
            {% for error in form.password.errors %}
            {{ error }}
            {% endfor %}
            <br />
            {{ form.password2.label }}
            {{ form.password2() }}
            {% for error in form.password2.errors %}
            {{ error }}
            {% endfor %}
            <br />
            {{ form.submit() }}
        </form>
    </section>
</main>
{% endblock %}